.iconos-acceso i,
.iconos-compra i {
    font-size: 22px;
    color: rgb(65, 64, 64);
    padding: 10px;
    transition: all 0.4s;
}

.iconos-acceso i:hover,
.iconos-compra i:hover {
    color: gold;
}

.iconos-compra i {
    font-size: 28px;
}

.contenido-acceso {
    display: flex;
    justify-content: space-around;
}

.altura{
    height: 500px;
}

.colorseparacion{
    background-color: rgb(171, 146, 194);
    border-radius: 10%;
    color:  white;
    font-weight: 700;
}